* {
  margin: 0;
  padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  @media screen and (max-width:600px){
 
    table {
      border-collapse: collapse;
      max-width: 600px;
    }

    td, th {
      display:flex;
      justify-content: center;
      border: 1px solid #dddddd;
      text-align: left;

    }

}